/* ----------ОСНОВНЫЕ СТИЛИ---------- */
* {
margin: 0px; /*Устанавливаем margin 0 для всего сайта*/
padding: 0px; /*Устанавливаем padding 0 для всего сайта*/
}
body {
font-family: Verdana, Arial, Helvetica, sans-serif; /*шрифты веб-сайта*/
background-color: #000000; /*цвет фона веб-сайта*/
color: #999a9a; /*цвет текста по умолчанию*/
background-image: url(images/bg.png); /*фоновое изображение*/
background-repeat: repeat-y; /*повтор (копирование) фонового изображения по оси Y*/
background-position: center; /*центрируем фон*/
}
a:link {
color: #0096FF; /*цвет ссылок*/
}
a:visited {
color: #FFFFFF; /*цвет посещенной ссылки*/
}
a:hover {
color: #FFFFFF; /*цвет ссылки, на которую наведен курсор*/
}
a:active {
color: #0096FF; /*цвет активных ссылок*/
}
p {
font-size: 0.7em; /*Устанавливаем размер текста*/
line-height: 18px; /*Устанавливаем высоту строки по умолчанию*/
text-align: justify; /*выравниваем текст по ширине параграфа*/
}
h1 {
color: #727372; /*цвет заголовков с тегом H1*/
text-transform: uppercase; /*Все заголовки внутри тегаl H1 будут отображаться в верхнем регистре*/
font-size: 1.2em; /*размер шрифта заголовка с тегом H1*/
font-weight: normal; /*установка насыщенности шрифта заголовка с тегом H1 на нормальную*/
}
h2 {
color: #FFFFFF; /*цвет заголовков с тегом H2*/
text-transform: uppercase; /*Все заголовки внутри тегаl H2 будут отображаться в верхнем регистре*/
font-size: 1em; /*размер шрифта заголовка с тегом H2*/
font-weight: normal; /*установка насыщенности шрифта заголовка с тегом H2 на нормальную*/
}
h3 {
color: #727372; /*цвет заголовков с тегом H3*/
text-transform: uppercase; /*Все заголовки внутри тегаl H3 будут отображаться в верхнем регистре*/
font-size: 0.9em; /*размер шрифта заголовка с тегом H3*/
font-weight: normal; /*установка насыщенности шрифта заголовка с тегом H3 на нормальную*/
}
h4 {
color: #727372; /*цвет заголовков с тегом H4*/
text-transform: uppercase; /*Все заголовки внутри тегаl H4 будут отображаться в верхнем регистре*/
font-size: 0.8em; /*размер шрифта заголовка с тегом H4*/
font-weight: normal; /*установка насыщенности шрифта заголовка с тегом H4 на нормальную*/
}
img {
border:none; /*Удаляем рамки вокруг изображений*/
}
.float-left {
float:left; /*класс параметра float left*/
}
.float-right {
float:right; /*класс параметра float right*/
}
/* ----------Стили контейнера---------- */
#container {
width: 900px; /*ширина контейнера*/
margin-top: 0px; /*Устанавливаем верхний отступ на 0*/
margin-right: auto; /*Устанавливаем правый отступ в значение авто, т.е центрируем сайт*/
margin-left: auto; /*Устанавливаем левый отступ в значение авто, т.е центрируем сайт*/
}
/* ----------Стили заголовка---------- */
#header {
background-image: url(images/hd_bg.png); /*Установка фонового изображения заголовка*/
background-repeat: no-repeat; /*Отмена повтора фонового изображения*/
float: left; /*Устанавливаем положение слоя заголовка влево*/
width: 900px; /*задаем ширину заголовка в 900 пикселей*/
}
#top-elements {
float: left; /*Устанавливаем положение слоя элементов заголовка влево*/
width: 900px; /*задаем ширину слоя элементов заголовка в 900 пикселей*/
padding-top: 20px; /*Задаем отступ элементов заголовка от верха сайта в 20 пикселей*/
}
/* ----------Стили логотипа---------- */
#logo {
float: left; /*Устанавливаем положение слоя с логотипом влево*/
height: 37px; /*Устанавливаем высоту слоя логотипа в 37 пикселей, которая равна высота изображения с логотипом*/
width: 270px; /*Устанавливаем ширину слоя логотипа в 270 пикселей, которая равна ширине изображения с логотипом*/
}
/* ----------Стили навигационной панели---------- */
#nav-bar {
float: right; /*Устанавливаем положение навигационной панели вправо*/
height: 29px; /*Устанавливаем высоту панели в 29 пикселей*/
padding-top: 8px; /*Устанавливаем отступ панели навигации от верха слоя заголовка в пикселях*/
margin-bottom: 40px; /*Устанавливаем отступ от нижнего края заголовка в пикселях*/
}
.navlinks ul {
margin: 0px; /*Устанавливаем margin 0 для нашего списка ссылок*/
padding: 0px; /*Устанавливаем padding 0 для нашего списка ссылок */
}
.navlinks li {
display: inline; /*устанавливаем строчный элемент*/
list-style-type: none; /*Удаляем маркировку списка из навигационной панели*/
padding-left: 20px; /*Устанавливаем положение пунктов навигации влево*/
}
.navlinks li a {
text-decoration: none; /*Удаляем подчеркивание ссылок панели навигации*/
font-size: 12px; /*размер шрифта панели навигации*/
color: #FFFFFF; /*Цвет ссылок панели навигации*/
padding-bottom: 2px; /*устанавливаем отступ от нижнего края слоя для ссылок панели навигации*/
}
.navlinks li a:hover {
border-bottom-width: medium; /*Устанавливаем подчеркивание средней толщины для ссылок панели навигации*/
border-bottom-style: solid; /*делаем подчеркивание ссылок сплошным*/
border-bottom-color: #0096ff; /*Устанавливаем цвет подчеркивания*/
}
.navlinks li.current a{
border-bottom-width: medium; /*Устанавливаем подчеркивание средней толщины для ссылок панели навигации*/
border-bottom-style: solid; /*делаем подчеркивание ссылок сплошным*/
border-bottom-color: #0096ff; /*Устанавливаем цвет подчеркивания*/
}
/* ----------Стили первого текстового блока---------- */
#featured {
float: right; /*Устанавливаем положение текстового блока вправо*/
width: 900px; /*Устанавливаем размер текстового блока в 900 пикселей*/
margin-bottom: 20px; /*нижний отступ в 20 пикселей от края слоя для текстового блока*/
}
.featured-text {
float: left; /*устанавливаем положение текстового блока влево*/
width: 450px; /*Устанавливаем размер блока с текстом для текстового блока*/
margin-top: 40px; /*Верхний отступ для текстового блока*/
}
#featured-text p {
font-size: 0.7em; /*устанавливаем размер шрифта*/
line-height: 24px; /*устанавливаем размер строки*/
text-align: justify; /*выравнивание текста по ширине*/
padding-top: 10px; /*добавляем верхний отступ для текста*/
}
#featured-image01 {
float: right; /*устанавливаем положение изображения вправо*/
width: 449px; /*устанавливаем фиксированную ширину изображения*/
background-repeat: no-repeat; /*отменяем повторение изображения*/
background-position: right; /*установка положения фонового рисунка вправо*/
height: 214px; /*устанавливаем высоту изображения*/
background-image: url(images/featured_image.png); /*наше изображение #1*/
}
h1.featured {
color: #FFFFFF; /*цвет текста заголовка внутри тега H1 */
text-transform: uppercase; /*Устанавливаем текст внутри тега H1 в верхний регистр*/
font-size: 18px; /*устанавливаем размер текста внутри тега H1*/
background-image: url(images/bullet_icon.png); /*Добавляем изображение-указатель для загловка внутри тега H1 */
background-repeat: no-repeat; /*Отмена копировании изображения-указателя*/
padding-left: 30px; /*Добавляем отступ влево для заголовка в 30 пикселей*/
line-height: 26px; /*установка высоту строки заголовка внутри тега H1*/
}
#featured-image {
float: right; /*устанавливаем положение изображения вправо*/
width: 449px; /*устанавливаем ширину изображения внутри первого текстового блока */
background-image: url(images/featured_image.png); /*устанавливаем изображение в качестве фона*/
background-repeat: no-repeat; /*отменяем повтор изображения*/
background-position: right; /*устанавливает положение фонового изображения*/
height: 214px; /*устанавливаем высоту изображения*/
}
.featured-btn {
height: 34px; /*высота кнопки*/
width: 34px; /*ширина кнопки*/
cursor: pointer; /*устанавливаем курсор в виде указателя*/
}
.featured-buttons {
height: 144px; /*устанавливаем фиксированную высоту*/
width: 34px; /*устанавливаем фиксированную ширину*/
margin-left: 75px; /*левый отступ*/
padding-top: 70px; /*отступ сверху*/
}
/* ----------Стили левой колонки---------- */
#content-left {
float: left; /*положение слева*/
width: 600px; /*фиксированная ширина*/
padding-bottom: 40px; /*отступ снизу*/
}
.box {
float: left; /*положение слева*/
width: 498px; /*фиксированная ширина*/
border: 1px solid #121212; /*добавляем линию-разделитель шириной 1 пиксель*/
margin-bottom: 15px; /*добавляем отступ снизу*/
width: 490px; /*задаем фиксированную ширину*/
}
.box-inside {
background-color: #0c0c0c; /*добавляем цвет фона*/
border: 1px solid #030303; /*добавляем линию-разделитель шириной 1 пиксель*/
float: left; /*положение слева*/
width: 576px; /*задаем фиксированную ширину*/
padding: 10px; /*задаем отступ по всему периметру блока*/
}
.box-inside p {
padding-top: 10px; /*отступ сверху*/
}
.boxtitle1 {
color: #FFFFFF; /*цвет текста*/
text-transform: uppercase; /*перевод текста в верхний регистр*/
font-size: 1em; /*задаем размер шрифта*/
font-weight: normal; /*насыщенность шрифта*/
background-image: url(images/post_icon.png); /*добавляем кнопку-иконку к заголовку блока текста*/
background-repeat: no-repeat; /*отмена повторения изображения-иконки*/
background-position: right; /*задаем положение иконки справа*/
}
.boxtitle2 {
color: #aaaaaa; /*цвет шрифта*/
text-transform: uppercase; /*перевод текста в верхний регистр*/
font-size: 0.7em; /*задаем размер шрифта*/
background-image: url(images/divider.png); /*добавляем изображение-разделитель*/
background-repeat: repeat-x; /*добавляем горизонтальное изображение-разделитель*/
background-position: bottom; /*располагаем разделитель сверху*/
padding-bottom: 10px; /*задаем отступ снизу*/
}
/* ----------стили боковой колонки ---------- */
#content-right {
float: right; /*положение справа*/
width: 290px; /*задаем фиксированную ширину*/
margin-left: 10px; /*отступ слева*/
padding-bottom: 40px; /*отступ снизу*/
}
.sidebar {
float: left; /*положение слева*/
width: 287px; /*задаем фиксированную ширину*/
border: 1px solid #121212; /*Добавляем границу-разделитель шириной 1 пиксель*/
margin-bottom: 15px; /*отступ снизу*/
float: left; /*положение слева*/
}
.sidebar-inside {
background-color: #0c0c0c; /*задаем цвет фона*/
border: 1px solid #030303; /*Добавляем границу-разделитель шириной 1 пиксель*/
float: left; /*положение слева*/
width: 266px; /*задаем фиксированную ширину*/
padding: 10px; /*добавляем отступ всему периметру блока*/
}
.sidebar-inside p {
padding-top: 10px; /*отступ сверху*/
}
.sidebar-title1 {
background-image: url(images/sidebar_bullet.png); /*добавляем иконку заголовка текстового блока*/
background-repeat: no-repeat; /*отменяем повтор иконки*/
background-position: right; /*положение иконки*/
}
.sidebar-title2 {
color: #aaaaaa; /*цвет текста*/
text-transform: uppercase; /*Перевод текста в верхний регистр*/
font-size: 0.7em; /*размер шрифта*/
background-image: url(images/divider.png); /*добавляем изображение-разделитель*/
background-repeat: repeat-x; /*повторяем(копируем) разделитель горизонтально*/
background-position: bottom; /*Положение фона вверху*/
padding-bottom: 10px; /*добавляем отступ сверху*/
}

/* ----------Стили «подвала» сайта---------- */
#footer {
background-image: url(images/footer_bg.png); /*добавляем фоновое изображение*/
background-repeat: repeat-x; /*повторяем фон горизонтально*/
height: 140px; /*задаем фиксированную высоту*/
clear: both; /*Удаляем значения обоих параметров float */
margin-top: 40px; /*добавляем отступ сверху*/
}
#footer-content {
background-image: url(images/footer_contentbg.png); /*добавляем фоновое изображение*/
background-repeat: no-repeat; /*отменяем повтор иображения*/
margin: auto; /*центрируем подвал*/
height: 90px; /*задаем фиксированную высоту*/
width: 900px; /*задаем фиксированную ширину*/
clear: both; /*Удаляем значения обоих параметров float */
padding-top: 50px; /*добавляем отступ сверху*/
}
#footer-content p {
text-align: center; /*центрируем текст*/
}
